<template>

  <v-container
      class="m-6 bg-surface-variant"
    >
      <v-row no-gutters>
        <v-col cols="12">
          <v-text-field
            label=""
            variant="solo"
            placeholder="Search (press Enter to execute)"
            @change="onSearch"
          ></v-text-field>
        </v-col>
      </v-row>

      <v-row no-gutters>
        <v-col cols="auto">
          <VueDatePicker
            placeholder="Select Start Date"
            v-model="date"
            :max-date="limitDate"
            :enable-time-picker="false"
            :format="dateFormatter"
            @update:model-value="onDateSelected"
            range
          />
        </v-col>
      </v-row>

      <v-row class="py-5" no-gutters>
        <v-col cols="3">
          <v-sheet class="pa-2 text-left rounded-lg">
            Total amount: $ {{ sumOfTotalAmount }}
          </v-sheet>
        </v-col>
      </v-row>

      <v-row class="pt-5 bg-white rounded-lg" no-gutters>
        <v-data-table
          v-model:page="page"
          v-model:items-per-page="itemsPerPage"
          :headers="headers"
          :items="itemsTmp"
          >
          <template v-slot:bottom>
            <div class="text-center pt-2">
              <v-pagination
                v-model="page"
                :length="pageCount"
              ></v-pagination>
            </div>
          </template>
        </v-data-table>
      </v-row>

    </v-container>
</template>

<style>
.order {
  max-width:100%;
  margin: 18px;
}
</style>

<script>
import VueDatePicker from '@vuepic/vue-datepicker';
import '@vuepic/vue-datepicker/dist/main.css';
import axios from 'axios';
import moment from 'moment';

export default {
  name: "OrderView",
  components: {
    VueDatePicker
  },
  mounted() {
    this.getOrders()
  },
  data() {
    return {
      limitDate: new Date(),
      date: [],
      dateStartSet: '',
      dateEndSet: '',
      sumOfTotalAmount: 0,

      searchQuery: '',
      page: 1,
      // pageCount: 1,
      itemsPerPage: 5,
      // itemsOrg: [{"company_name":"Roga & Kopyta","created_at":"2020-01-02T15:34:12Z","customer_id":"ivan","delivered_amount":6.73,"id":1,"name":"Ivan Ivanovich","order_id":1,"order_name_x":"PO #001-I","order_name_y":"PO #001-IPO #001-I","product":["Corrugated Box","Hand sanitizer"],"total_amount":918.12},{"company_name":"Roga & Kopyta","created_at":"2020-01-15T17:34:12Z","customer_id":"ivan","delivered_amount":254.54,"id":2,"name":"Ivan Ivanovich","order_id":2,"order_name_x":"PO #002-I","order_name_y":"PO #002-IPO #002-I","product":["Corrugated Box","Hand sanitizer"],"total_amount":254.54},{"company_name":"Roga & Kopyta","created_at":"2020-01-05T05:34:12Z","customer_id":"ivan","delivered_amount":1476.41,"id":3,"name":"Ivan Ivanovich","order_id":3,"order_name_x":"PO #003-I","order_name_y":"PO #003-IPO #003-I","product":["Corrugated Box","Hand sanitiZER"],"total_amount":7485.12},{"company_name":"Roga & Kopyta","created_at":"2020-02-02T15:34:12Z","customer_id":"ivan","delivered_amount":0.0,"id":4,"name":"Ivan Ivanovich","order_id":4,"order_name_x":"PO #004-I","order_name_y":"PO #004-IPO #004-I","product":["Corrugated Box","Hand sanitizer"],"total_amount":263.35},{"company_name":"Roga & Kopyta","created_at":"2020-01-03T10:34:12Z","customer_id":"ivan","delivered_amount":0.0,"id":5,"name":"Ivan Ivanovich","order_id":5,"order_name_x":"PO #005-I","order_name_y":"PO #005-IPO #005-I","product":["Corrugated Box","Hand sanitizer"],"total_amount":1699.21},{"company_name":"Pupkin & Co","created_at":"2020-01-02T15:34:12Z","customer_id":"petr","delivered_amount":298.18,"id":6,"name":"Petr Petrovich","order_id":6,"order_name_x":"PO #001-P","order_name_y":"PO #001-PPO #001-P","product":["Corrugated Box","Hand sanitizer"],"total_amount":298.18},{"company_name":"Pupkin & Co","created_at":"2020-01-15T17:34:12Z","customer_id":"petr","delivered_amount":3399.12,"id":7,"name":"Petr Petrovich","order_id":7,"order_name_x":"PO #002-P","order_name_y":"PO #002-PPO #002-P","product":["Corrugated Box","Hand sanitizer"],"total_amount":3600.24},{"company_name":"Pupkin & Co","created_at":"2020-01-05T05:34:12Z","customer_id":"petr","delivered_amount":6935.92,"id":8,"name":"Petr Petrovich","order_id":8,"order_name_x":"PO #003-P","order_name_y":"PO #003-PPO #003-P","product":["Corrugated Box","Hand sanitizer"],"total_amount":6935.92},{"company_name":"Pupkin & Co","created_at":"2020-02-02T15:34:12Z","customer_id":"petr","delivered_amount":668.53,"id":9,"name":"Petr Petrovich","order_id":9,"order_name_x":"PO #004-P","order_name_y":"PO #004-PPO #004-P","product":["Corrugated Box","Hand sanitizer"],"total_amount":910.74},{"company_name":"Pupkin & Co","created_at":"2020-01-03T10:34:12Z","customer_id":"petr","delivered_amount":3480.0,"id":10,"name":"Petr Petrovich","order_id":10,"order_name_x":"PO #005-P","order_name_y":"PO #005-PPO #005-P","product":["Corrugated Box","Hand sanitizer"],"total_amount":5570.0}],
      itemsOrg: [{}],
      itemsTmp: [{}],
      // itemsTmp: [{"company_name":"Roga & Kopyta","created_at":"2020-01-02T15:34:12Z","customer_id":"ivan","delivered_amount":6.73,"id":1,"name":"Ivan Ivanovich","order_id":1,"order_name_x":"PO #001-I","order_name_y":"PO #001-IPO #001-I","product":["Corrugated Box","Hand sanitizer"],"total_amount":918.12},{"company_name":"Roga & Kopyta","created_at":"2020-01-15T17:34:12Z","customer_id":"ivan","delivered_amount":254.54,"id":2,"name":"Ivan Ivanovich","order_id":2,"order_name_x":"PO #002-I","order_name_y":"PO #002-IPO #002-I","product":["Corrugated Box","Hand sanitizer"],"total_amount":254.54},{"company_name":"Roga & Kopyta","created_at":"2020-01-05T05:34:12Z","customer_id":"ivan","delivered_amount":1476.41,"id":3,"name":"Ivan Ivanovich","order_id":3,"order_name_x":"PO #003-I","order_name_y":"PO #003-IPO #003-I","product":["Corrugated Box","Hand sanitiZER"],"total_amount":7485.12},{"company_name":"Roga & Kopyta","created_at":"2020-02-02T15:34:12Z","customer_id":"ivan","delivered_amount":0.0,"id":4,"name":"Ivan Ivanovich","order_id":4,"order_name_x":"PO #004-I","order_name_y":"PO #004-IPO #004-I","product":["Corrugated Box","Hand sanitizer"],"total_amount":263.35},{"company_name":"Roga & Kopyta","created_at":"2020-01-03T10:34:12Z","customer_id":"ivan","delivered_amount":0.0,"id":5,"name":"Ivan Ivanovich","order_id":5,"order_name_x":"PO #005-I","order_name_y":"PO #005-IPO #005-I","product":["Corrugated Box","Hand sanitizer"],"total_amount":1699.21},{"company_name":"Pupkin & Co","created_at":"2020-01-02T15:34:12Z","customer_id":"petr","delivered_amount":298.18,"id":6,"name":"Petr Petrovich","order_id":6,"order_name_x":"PO #001-P","order_name_y":"PO #001-PPO #001-P","product":["Corrugated Box","Hand sanitizer"],"total_amount":298.18},{"company_name":"Pupkin & Co","created_at":"2020-01-15T17:34:12Z","customer_id":"petr","delivered_amount":3399.12,"id":7,"name":"Petr Petrovich","order_id":7,"order_name_x":"PO #002-P","order_name_y":"PO #002-PPO #002-P","product":["Corrugated Box","Hand sanitizer"],"total_amount":3600.24},{"company_name":"Pupkin & Co","created_at":"2020-01-05T05:34:12Z","customer_id":"petr","delivered_amount":6935.92,"id":8,"name":"Petr Petrovich","order_id":8,"order_name_x":"PO #003-P","order_name_y":"PO #003-PPO #003-P","product":["Corrugated Box","Hand sanitizer"],"total_amount":6935.92},{"company_name":"Pupkin & Co","created_at":"2020-02-02T15:34:12Z","customer_id":"petr","delivered_amount":668.53,"id":9,"name":"Petr Petrovich","order_id":9,"order_name_x":"PO #004-P","order_name_y":"PO #004-PPO #004-P","product":["Corrugated Box","Hand sanitizer"],"total_amount":910.74},{"company_name":"Pupkin & Co","created_at":"2020-01-03T10:34:12Z","customer_id":"petr","delivered_amount":3480.0,"id":10,"name":"Petr Petrovich","order_id":10,"order_name_x":"PO #005-P","order_name_y":"PO #005-PPO #005-P","product":["Corrugated Box","Hand sanitizer"],"total_amount":5570.0}],
      
      /**
       * setup subject for table's header
       */
      headers: [
        {
          align: 'start',
          key: 'order_name_y',
          sortable: true,
          title: 'Order Name',
        },
        { title: 'Company Name', key: 'company_name' },
        { title: 'Customer Name', key: 'name' },
        { title: 'Order Date', key: 'created_at' },
        { title: 'Delivered Amount', key: 'delivered_amount' },
        { title: 'Total Amount', key: 'total_amount' },
        { title: 'Items', key: 'product' }
      ],
    }
  },
  methods: {

    /**
     * used for formatting date-range after selection and print into date-range textfield 
     */
    dateFormatter(dt) {
      var startDate = moment(dt[0]).format('YYYY-MM-DD')
      var endDate = moment(dt[1]).format('YYYY-MM-DD')
      return startDate + " - " + endDate
    },

    /**
     * execute after finished typing in search textfield (by pressing enter button to mark as done typing)
     */
    onSearch(e) {
      e.preventDefault()
      this.searchQuery = e.target.value
      var kw = e.target.value

      console.log(this.searchQuery)

      var result

      if (e.target.value == '') {
        result = this.itemsOrg
      } else {
        if (this.dateStartSet != "" && this.dateEndSet != "") {
          console.log('search: date start & end not empty')
          result = this.filteringOrders(true, true, kw)
        } else {
          console.log('search: date start & end empty')
          result = this.filteringOrders(true, false, kw)
        }
      }   

      this.sumOfTotalAmount = this.calculateTotalAmount(result)

      this.itemsTmp = result
    },

    /**
     * execute after the date-range has selected
     */
    onDateSelected(dt) {
      console.log("date selected: ")
      console.log(dt)
      
      var result = this.itemsOrg

      if (dt != null && dt[0] != '' && dt[1] != '') {

        // setup hour in selected date.
        // start date become: 00:00:00
        // end date become: 23:59:59
        var m0 = moment(dt[0])
        m0.set({hour:0,minute:0,second:0,millisecond:0})
        m0.toISOString()
        m0.format()
        
        var m1 = moment(dt[1])
        m1.set({hour:23,minute:59,second:59,millisecond:0})
        m1.toISOString()
        m1.format()

        // convert date to timestamp
        this.dateStartSet = new Date(m0).getTime()
        this.dateEndSet = new Date(m1).getTime()

        console.log('date: selected')
        if (this.searchQuery != '') {
          console.log('search: ' + this.searchQuery)
          result = this.filteringOrders(true, true, this.searchQuery)
          console.log('result: ' + JSON.stringify(result))
        } else {
          result = this.filteringOrders(false, true)
          console.log('search: empty')
        }
      } else {
        this.dateStartSet = ''
        this.dateEndSet = ''
        console.log('date: not selected')
        if (this.searchQuery != '') {
          console.log('search: ' + this.searchQuery)
          result = this.filteringOrders(true, false, this.searchQuery)
        } else {
          result = this.itemsOrg
          console.log('search: empty')
        }
      }

      this.sumOfTotalAmount = this.calculateTotalAmount(result)

      this.itemsTmp = result
    },

    /**
     * request orders by hit api GET /orders
     */
    async getOrders() {
      axios.get(`http://localhost:5000/orders`)
      .then(res => {
        console.log(res)
        this.sumOfTotalAmount = this.calculateTotalAmount(res.data)
        this.itemsTmp = res.data
        this.itemsOrg = res.data
      })
      .catch(err => {
        console.log(err)
      })
    },

    /**
     * apply the filter selection (by search and/or date-range)
     * search textfield is searching for "product name" and "order name"
     */
    filteringOrders(search, dateRange, searchText='') {
      if (search == true && dateRange == false) {
        return this.itemsOrg.filter(d => {
          return d.order_name_y.toString().toLowerCase().includes(searchText) || d.product.some(x => x.toString().toLowerCase().includes(searchText))
        })
      } else if (search == false && dateRange == true) {
        return this.itemsOrg.filter(d => {
          var time = new Date(d.created_at).getTime();          
          return (this.dateStartSet <= time && time <= this.dateEndSet)
        })
      } else if (search == true && dateRange == true) {
        console.log('search=on;dateRange=on')
        return this.itemsOrg.filter(d => {
          var time = new Date(d.created_at).getTime();          
          return ((this.dateStartSet <= time && time <= this.dateEndSet) && (d.order_name_y.toString().toLowerCase().includes(searchText) || d.product.some(x => x.toString().toLowerCase().includes(searchText))))
        })
      }
      
    },

    /**
     * sum of total amount based on filtered or non-filtered orders 
     */
    calculateTotalAmount(data) {
      const sum = data.reduce((acc, obj) => {
        return acc + obj.total_amount;
      }, 0)
      return sum.toFixed(2)
    }
  },
  computed: {
    pageCount () {
      return Math.ceil(this.itemsTmp.length / this.itemsPerPage)
    },
  },
}
</script>